# Intellij IDEA project files
.idea

# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# Who knows? May be private developer's files of project
local

# Kotlin util files
.kotlin
